= simple_form_for(@sidebar) do |f|
  .row
    .span4.offset1
      = f.error_notification

      .form-inputs
        = f.input :title
        = f.input :slug
      .form-actions
  
        = f.association :widgets, :as => :check_boxes
  
        = f.button :submit
      

    .span3
      -@sidebar.widgets.each do |widget|
        %h3=widget.title
        =widget.body.html_safe
        =link_to 'Edit', edit_widget_path(widget)
