-content_for :listing do
  .row
    .span4
      %h1 Sidebars
    .span4
      .floatright
        = link_to 'New Sidebar', new_sidebar_path, :class => 'btn btn-primary btn-large'
    
  

  %table.table
    %tr
      %th Title
      %th Slug
      %th # Widgets
      %th
      %th
      %th


    - @sidebars.each do |sidebar|
      %tr
        %td= sidebar.title
        %td= sidebar.slug
        %td= sidebar.widgets.count
        %td= link_to 'Show', sidebar, :class => 'btn btn-info'
        %td= link_to 'Edit', edit_sidebar_path(sidebar), :class => 'btn btn-success'
        %td= link_to 'Destroy', sidebar, :confirm => 'Are you sure?', :method => :delete, :class => 'btn-danger btn'

  %br

