%h2 Sign in
%br/
= form_tag( user_session_path, :id => 'user_sign_in') do
  %h5 What is your email address?
  = text_field_tag 'user[email]', attr_or_nil(:user_email), :placeholder =>  'you@email.com', :required => true, :tabindex => 1
  %h5 Do you have a Jammin' Java password?

  %br/
  =radio_button_tag 'new_customer', 'no', false, :style => 'float: left'
  =label_tag 'new_customer_no', 'No, I am a new customer.',  :style => 'float: left; margin-left: 15px'
  
  %br/

  =radio_button_tag 'new_customer', 'yes',  true,  :style => 'float: left'
  =label_tag 'new_customer_yes', 'Yes, I have a password', :style => 'float: left; margin-left: 15px'
  
  %br/
  = password_field_tag 'user[password]', nil, :tabindex => 2
  
  =hidden_field_tag 'user[account_id]', @current_account.id
  =hidden_field_tag 'after_sign_in_path', "#{request.protocol}#{request.host_with_port}#{request.fullpath}"
  
  %button.btn.btn-primary.sign-in Sign in using our secure server
  %br/
  = link_to "Forgot your password?", new_password_path('user')
