-content_for :content do
  .order-success
    .row
      .span12
      .row
        .span7
          %h1=' Order #' + @order.id.to_s
          %p
            -if @order.user
              placed by
              =@order.user.full_name
              %strong=distance_of_time_in_words_to_now( @order.created_at, true)
              ago
            %br/
        .span3
          =link_to 'Download Tickets <i class="icon icon-white icon-tags"></i>'.html_safe, "/manager/orders/#{@order.id}/tickets", :class => 'btn btn-large'
        

      

      %hr/

      .row
        .span1


      %hr/

      %table.table
        %thead
          %th Event
          %th Section
          %th Seat
          %th Base Price
          %th Service Price
          %th Total Price

        -@order.tickets.each do |ticket|
          %tr
            %td=link_to ticket.event_name, front_event_path(ticket.section.chart.event)
            %td= ticket.section_label
            %td= ticket.area_label
            %td= number_to_currency ticket.base_price
            %td= number_to_currency ticket.service_charge
            %td= number_to_currency ticket.total


        %tfooter
          %td
          %td
          %td
          %td=number_to_currency @order.total_base_price
          %td=number_to_currency @order.total_service_charge
          %td=number_to_currency @order.total
          %td
          -#%td= "#{@order.tickets.checked_in.count} / #{@order.tickets.count}"


      %h3 Transactions
      -@order.transactions.each do |transaction|
        %p
          %strong 
          =@order.created_at.to_formatted_s(:jammin_java)
        %p
          %strong Success?
          =transaction.success? ? 'YES' : 'NO'
        %p
          %strong Message
          =transaction.message

        %p
          %strong Amount
          =number_to_currency(transaction.amount/100)
