-content_for :title do
  Success » Order




.order-success
  .row
    .span12

      %h1 Success!
  
      -if @current_user.has_at_least_role(:employee)
        %h3 Manager Options
        %ul
          -@current_account.orders.complete.where('agent_id = ?', @current_user.id).last.events.each do |event|
            %li=link_to "Guestlist for #{event.name}", "/manager/reports/event_guestlist/#{event.id}"
      -else
        %p
          .row
            .span6
              %p
                Check your email! Your tickets have been emailed to you. Bring
                the email on your smartphone to show for a fast check-in or
                simply give us your name and we'll pull up your order. Email
                =mail_to 'tickets@jamminjava.com'
                with
                any questions. 
        
              %p
                See you at the show!
              .site-signature
                -# TODO paramaterize this
                =image_tag '/images/jj-brindley-bros-signature.png', :style => 'margin-top: 10px'
      :css
        .order-success .receipt {
            color: #aaa;
            margin-top: 30px
            background: #222;
            border: 1px solid #555;
            font-size: 12px;
            padding: 10px;
            display: inline-block;
        }
        table {
        }
      .receipt
        
        .span9
          .row
            .span8
              %h2 Order Summary
            .span1
              =link_to 'Print »', "/orders/#{@order.id}/tickets"
      
          %table.table
            -@order.tickets.each do |ticket|
              %tr
                %td= link_to ticket.event_name, front_event_path(ticket.event)
                %td= ticket.section.label
                %td= ticket.area.label
                %td= number_to_currency ticket.base_price
                %td= number_to_currency ticket.service_charge
                %td= number_to_currency ticket.total
            %tfoot
              %td
                %strong Total
              %td
              %td
              %td=number_to_currency @order.base
              %td=number_to_currency @order.service_charge
              %td=number_to_currency @order.total
            
          .row
            .span3
              -if @order.user
                %dl
                  -unless @order.user.blank?
                    %dt Placed by
                    %dd=@order.user.full_name 

                  -unless @order.email.blank?
                    %dt Email
                    %dd=@order.email

                  -unless @order.address.blank?
                    %dt Billing Address
                    %dd= @order.address.address
                
                  -unless @order.phone.number.blank?
                    %dt Phone
                    %dd= @order.phone.number 
                
                -if @order.agent
                  %dt Agent
                  %dd= @order.agent.full_name
              
            .span3
              -t = @order.transactions.success.first
              %dl
                %dt Order ID
                %dd="##{t.order_id}"
          
                %dt Amount Charged
                %dd=number_to_currency (t.amount/100)
      
                -unless t.success.nil?
                  %dt Success?
                  %dd=t.success ? 'yes' : 'no'
                
                -unless t.authorization.nil?
                  %dt Auth
                  %dd=t.authorization 
              
            .span3
              %dl
                -unless t.message.blank?
                  %dt Message
                  %dd=t.message
      
                -unless t.params.blank?
                  %dt Transaction ID
                  %dd=t.params[:transaction_id.to_s]
      
                %dt Transaction Time
                %dd=t.created_at.in_time_zone.to_formatted_s(:jammin_java)
              
                %dt Method
                %dd=t.meth.titleize
      
                %dt Location
                %dd=t.origin.titleize
                
                %dt Placed from
                %dd=@order.ip_address

    -#render :partial => 'tickets/tickets', :locals => {:tickets => @order.tickets, :show_artwork => false}