.row
  .span12
    .widget.big-stats-container
      .widget-content
        #big_stats.cf
          .stat
            %h4 Number of Customers
            %span.value=number_with_delimiter( @current_account.users.with_role( :customer).count,  :delimiter => ',')

          .stat
            %h4 Logged in Now
            %span.value 24

          .stat
            %h4 Logged in 30 days
            %span.value= number_with_delimiter(@users.where('last_sign_in_at < ?', (Date.today - 30)).count, :delimeter => ',')

          .stat
            %h4 All Time Sales
            %span.value=number_to_currency 0#Order.total

.row
  
  .span8
    %h1 Customer Relationship Manager
    
  .span8.last
    =#link_to 'Import Customers as CSV', new_customer_import_path, :class => "button"

  .widget.widget-table.action-table
    %table#customers.table.table-striped.table-bordered.display{:data => {:source => users_url(format: 'json') }}
      %thead
        %td 
        %td First Name
        %td Last Name
        %td Account Balance
        %td Total sales
      
        %td Action
      
      
      -@users.each do |u|
        %tr
          %td
            %a{:href => user_path(u)}
            %img{:src => u.gravatar_url}
      
          %td{:valign => 'middle' }= u.first_name
          %td= u.last_name
          %td= u.total_sales
          %td= number_to_currency u.balance
          %td
            %a.button{:href => user_path(u)} Open »
          /%td=link_to 'User password', new_user_password_path + '?user_email=' + u.email 