.row
  .span10.offset1
    .row
      .span5
        %h1
          =@charts.count
          Chart Templates
      .span5
        = link_to '+ New Chart Template', new_chart_path, :class => 'btn btn-large'
    
    %br/

.row
  .span10.offset1
    .alert
      %h2 Chart Masters
      %h4
        Masters are templates. For each event, you'll "clone" 
        one of the masters, creating a dedicated seating chart   
        just for that event.
      

%hr/

.row
  .span10.offset1

    %table.table
      -@charts.masters.each do |chart|
        %tr
          %td=chart.name
          %td= distance_of_time_in_words_to_now(chart.updated_at) + ' ago'
          %td= link_to 'Delete', chart, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :style => 'float: left'
          %td= link_to 'Edit', edit_chart_path(chart), :class => 'btn btn-primary'


.row
  .span10.offset1
    .alert
      %h2 Chart Slaves
      %h4 
        Slaves are clones of Masters, but belong to Event. 
        They have special rules that enforce the integrity 
        of the ticket system. For example, once a ticket is 
        sold against a Chart's Areas, those areas may not be changed.

.row
  .span10.offset1
    %table.table
  
      -@charts.slaves.each do |chart|
        %tr
          %td=chart.name
          %td= distance_of_time_in_words_to_now(chart.updated_at) + ' ago'
          %td= link_to 'Delete', chart, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :style => 'float: left'
          %td= link_to 'Edit', edit_chart_path(chart), :class => 'btn btn-primary'

       