.row
  .span1
    &nbsp
  .span10
    .row
      .span3
        %h1
          =@charts.count
          Chart Templates
      .span5
        = link_to '+ New Chart Template', new_chart_path, :class => 'btn btn-large'
    
    %br/

    .row
      .span8
        .alert
          %h2
            %strong Chart Templates
            
  
    %hr/

    .row
      .span12
        -@charts.each do |chart|
          .clear
          .row
            .span4
              %h2= chart.name
            .span4
              -if chart.thumbnail?
                = link_to (image_tag chart.thumbnail :medium, :width => "100%"), chart
              -else
                
            .span4.last
              %p= button_to 'Destroy', chart, :confirm => 'Are you sure?', :method => :delete, :class => 'btn'
              %p= link_to 'Edit', edit_chart_path(chart), :class => 'btn'
          
          

