.row
  .span1
    &nbsp
  .span10
    .row
      .span3
        %h1
          =@charts.count
          Chart Templates
      .span5
        = link_to '+ New Chart Template', new_chart_path, :class => 'btn btn-large'
    
    %br/

    .row
      .span7
        .alert
          %h2 Chart Masters
          %h3 
            Masters are templates. For each event, you'll "clone" 
            one of the masters, creating a dedicated seating chart   
            just for that event.
            
  
    %hr/

    .row
      .span12
        .row
      
          .span4
            
            -@charts.masters.each do |chart|

              .well
             
                .row
                  .span4
                    %h3=chart.name
                  .span4
                    Last updated
                    =chart.updated_at.to_formatted_s :default
                  .span4
                    = link_to 'Destroy', chart, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :style => 'float: left'
                    = link_to 'Edit', edit_chart_path(chart), :class => 'btn btn-primary'
    

        .row
          .span7
            .alert
              %h2 Chart Slaves
              %h3 
                Slaves are clones of Masters, but belong to Event. 
                They have special rules that enforce the integrity 
                of the ticket system. For example, once a ticket is 
                sold against a Chart's Areas, those areas may not be changed.

      = "No chart slaves yet. Create these through Event." unless @charts.slaves
      -@charts.slaves.each do |chart|

        .span4
          .well
            .row
              .span4
                %h3=chart.name
                %strong Event:
                -if chart.event
                  =link_to chart.event.title, chart.event
                  =image_tag(chart.event.headliner.photo(:thumb)) if (chart.event.headliner && chart.event.headliner.photo?)
                  
              .span4
                Updated 
                %strong= distance_of_time_in_words_to_now(chart.updated_at) + ' ago'
              .span4
                = link_to 'Delete', chart, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :style => 'float: left'
                = link_to 'Edit', edit_chart_path(chart), :class => 'btn'
