.event-title
  -if event.disable_event_title
    -if event.headliners_str.length < 60
      %h1= event.headliners_str
    -else
      %h2= event.headliners_str
  -else
    -if event.title.length < 60
      %h1= event.title
      %h2= event.headliners_str
    -else
      %h2= event.title
      %h3= event.headliners_str
    
    
    