%h1=' Order #' + order.id.to_s

%p
  -if order.user
    placed by
    =link_to order.user.full_name, user_path(order.user)
    %strong=distance_of_time_in_words_to_now( order.created_at, true)
    ago
  
%hr/

.row
  .span1
    %h2 Tickets
.row
  .span5
    =form_tag "/manager/orders/#{order.id}/resend_tickets.js", :remote => true, :style => 'float: left' do
      =text_field_tag 'email', @order.email
      =submit_tag "Resend Tickets", :class => 'btn'
      =link_to 'View Tickets', "/orders/#{order.id}/tickets", :class => 'btn'
    
%hr/

%table.table.table-striped
  %thead
    %th Event
    %th Section
    %th Seat
    %th Base Price
    %th Service Price
    %th Total Price
    %th Checked in?

  -order.tickets.each do |ticket|
    %tr
      %td=link_to ticket.event_name, event_path(ticket.section.chart.event)
      %td= ticket.section_label
      %td= ticket.area_label
      %td= number_to_currency ticket.base_price
      %td= number_to_currency ticket.service_charge
      %td= number_to_currency ticket.total
      %td= ticket.checked_in? ? 'yes' : 'no'

  
  %tfooter
    %td
    %td
    %td
    %td=number_to_currency order.total_base_price
    %td=number_to_currency order.total_service_charge
    %td=number_to_currency order.total
    %td
    -#%td= "#{order.tickets.checked_in.count} / #{order.tickets.count}"
    
  
%h3 Transactions
-order.transactions.each do |transaction|
  .well
    %p
      %strong 
      =order.created_at.to_formatted_s(:jammin_java)
    %p
      %strong Success?
      =transaction.success? ? 'YES' : 'NO'
    %p
      %strong Message
      =transaction.message
      
    %p
      %strong Amount
      =number_to_currency(transaction.amount/100)
      
    %p
      %strong Method
      =transaction.meth
    %p
      %strong Origin
      =transaction.origin