

-# .row
-#   .span12
-#     .widget.big-stats-container
-#       .widget-content
-#         #big_stats.cf
-#           .stat
-#             %h4 Number of Orders
-#             %span.value=@current_account.orders.count
-# 
-#           .stat
-#             %h4 # Orders
-#             %span.value=@orders.count
-# 
-#           .stat
-#             %h4 Number of tickets sold
-#             %span.value=@orders.count
-# 
-#           .stat
-#             %h4 Average Order Size
-#             %span.value=@orders.count

.span12

  .clear{:style => 'height: 30px'}
  %h1 Orders
  %hr/

  .widget.widget-table.action-table
    %table#orders.table.table-striped.table-bordered.display{:data => {:source => orders_url(format: 'json') }}

      %thead
        %th ID
        %th Created
        %th Expires
        %th Expired?
        %th Total
        %th Customer
        %th # Tickets
        %th By Section
        %th 
        %th 

        %th 


      -@orders.each do |order|
        %tr
          %td='#' + order.id.to_s
          %td=order.created_at.to_s :short_ordinal
          %td
            =order.expired? ? '-' : ''
            =time_ago_in_words(order.expires_at, true)
          %td=order.expired? ? 'Yes' : ''
          
          %td= number_to_currency( order.total)
          %td
            %strong="#{order.first_name} #{order.last_name}"
            = "#{order.email}"
            
          %td= order.tickets.count
          %td
            -unless order.tickets_uniq_with_counts.blank?
              -order.tickets_uniq_with_counts.each do |section,count|
                ="#{count}x #{section} "
      
          %td=order.state
          %td
            %a.btn.btn-large.button.small refund
        
          %td
            %a.btn.btn-primary.btn-large{:href => order_path(order)} view
          %td
            =link_to 'destroy', order_path(order), :confirm => "U sure, bro?", :method => :delete, :class => 'btn'
      
        


