.span7.offset2
  .well{:style => 'background-color: white'}
  
    %h1=' Order #' + @order.id.to_s

    %p
      -if @order.user
        placed by
        =link_to @order.user.full_name, user_path(@order.user)
        %strong=distance_of_time_in_words_to_now( @order.created_at, true)
        ago
      
      Status:
      <br/> 
      =@order.state

    %hr/
    
    .row
      .span1
        %h2 Tickets
      .span2.offset1{:style => 'position: relative; float: right'}
        =link_to 'Tickets<i class="icon icon-tags"></i>'.html_safe, "/manager/orders/#{@order.id}/tickets", :class => 'btn btn-large'
      
    %hr/
    
    %table.table.table-striped
      %thead
        %th Event
        %th Section
        %th Seat
        %th Base Price
        %th Service Price
        %th Total Price
        %th State
  
      -@order.tickets.each do |ticket|
        %tr
          %td=link_to ticket.event_name, event_path(ticket.section.chart.event)
          %td= ticket.section_label
          %td= ticket.area_label
          %td= number_to_currency ticket.base_price
          %td= number_to_currency ticket.service_charge
          %td= number_to_currency ticket.total
          %td= ticket.state

      
      %tfooter
        %td
        %td
        %td
        %td=number_to_currency @order.total_base_price
        %td=number_to_currency @order.total_service_charge
        %td=number_to_currency @order.total
        %td
        -#%td= "#{@order.tickets.checked_in.count} / #{@order.tickets.count}"
        
      
    %h3 Transactions
    -@order.transactions.each do |transaction|
      .well
        %p
          %strong 
          =@order.created_at.to_formatted_s(:jammin_java)
        %p
          %strong Success?
          =transaction.success? ? 'YES' : 'NO'
        %p
          %strong Message
          =transaction.message
          
        %p
          %strong Amount
          =number_to_currency(transaction.amount/100)
          
          -#     #<OrderTransaction id: 12
          -#      order_id: 132
          -#      action: "purchase"
          -#      amount: 0
          -#      success: false
          -#      authorization: "0"
          -#      message: "The credit card number is invalid"
          -#      params: {"response_code"=>3
          -#      "response_reason_code"=>"6"
          -#      "response_reason_text"=>"The credit card number is invalid."
          -#      "avs_result_code"=>"P"
          -#      "transaction_id"=>"0"
          -#      "card_code"=>""}
          -#      created_at: "2012-10-27 19:24:23"
          -#      updated_at: "2012-10-27 19:24:23">
          
          
          
          
          
          
          
          
          
          
          
          
          
        
        
