= simple_form_for(@page) do |f|
  .row
    .span9
      .row
        .span4
          .widget
            .widget-content
              %br/
              
              = f.button :submit, :class => 'btn btn-primary btn-large'      
              =link_to 'Sidebars', sidebars_path, :class => 'btn'
        
              =link_to 'Widgets', widgets_path, :class => 'btn'
              %br/
              
        .span3
          .widget
            .widget-content
              =f.input :sidebar_id, :label => '', :collection => (Sidebar.all.collect {|s| [s.title,s.id] }), :selected => (@page.sidebar.id if @page.sidebar), :include_blank => 'None'

              -if @page.sidebar
                =link_to "Edit #{@page.sidebar.title}", edit_sidebar_path(  @page.sidebar), :class => 'btn'

        .span3
          
  .row
    .span9
      .widget
        .widget-content
      
          = f.error_notification

          .form-inputs
            = f.input :title
            = f.input :slug
            = f.input :body, :as => :ckeditor, :toolbar => 'easy', :input_html => { :style => 'width: 100%', :height => '700'}
 
      -# .widget
      -#   .widget-header
      -#     %h3 Image Browser
      -#   .widget-content
      -#     =select("", "", @current_account.images.collect {|p| [ p.file_name, p.file(:original) ] }, { :include_blank => true })
      -# 
      -#     -@current_account.images.limit(1).each do |image|
      -#       =image_tag( image.file(:original) )

 