.row
  .span3.offset3
    %table
      %tr
        %td Tickets
        %td
          %strong= number_to_currency current_order.total_base_price
      %tr
        %td Service Charge
        %td
          %strong= number_to_currency current_order.total_service_charge
      %tr
        %td TOTAL
        %td
          %strong= number_to_currency current_order.total



-current_order.tickets.each do |ticket|
  .cart-item
    .row
      .span6
        %p.starts-at=ticket.event.starts_at.to_s(:jammin_java)
      
        /%p.event-name=link_to ticket.event.name, front_event_path(ticket.event)
        =render :partial => 'front/events/event_title', :locals => {:event => ticket.event}
        
        %p.seat-price
          ="#{ticket.section_label}"
          -unless ticket.area_label.blank?
            =" / #{ticket.area_label} /"
          
          =number_to_currency ticket.base_price

        =link_to 'x', "/orders/remove_from_cart/#{ticket.area.id}", :class => 'remove', :method => 'post'

