
.span8.offset2
  .well{:style => 'background-color: white'}
    %h1= "Tickets for #{@event.name}"
    %h2=@event.starts_at.to_formatted_s(:jammin_java)

    .span2
      %strong # Sold
      %br/

      %h3
        =@event.tickets.complete.count
        ="(#{number_to_currency @event.tickets.complete.total})"

    .span2
      %strong # Checked In
      %br/
      %h3
        =@event.tickets.complete.checked_in.count
        ="(#{number_to_currency @event.tickets.checked_in.total})"

    .span2
      %strong # Pending Checkin
      %br/
      %h3
        =@tickets.complete.pending_checkin.count
        ="(#{number_to_currency @tickets.complete.pending_checkin.sum('total')})"

    %br/
    %br/
    %br/
    
    
    
    %table.table.table-striped.table-bordered.display.dataTable#event_guestlist
      %thead
        %th Last Name
        %th First Name
        %th Section
        %th Seat
        -#%th Purchased At
        -#%th Price Paid
        %th Check In
    
        -#@event.orders.complete.where('last_name != ?', '').order('orders.last_name ASC NULLS last, orders.id').find_each do |order|
        
        -# TODO Fix this hack.
        -{'orders.last_name != ?' =>  '', 'orders.last_name = ?' => ''}.each do |a,b|
          -@event.tickets.complete.where(a,b).order('orders.last_name ASC, orders.id').each do |ticket|
            %tr
              %td= ticket.order.last_name
              %td= ticket.order.first_name
              %td= ticket.section.label
              %td= ticket.area.label
              -#%td= ticket.order.purchased_at.to_formatted_s(:short)
              -#%td= number_to_currency ticket.total
              %td
                -if ticket.can_check_in?
                  =link_to 'checkin', ticket_checkin_path(ticket), :class => 'btn'#, :target => '_blank'
                -if ticket.checked_in?
                  %i.icon-check
                
                
        