.row
  .span12
    .widget.big-stats-container
      .widget-content
        #big_stats.cf
          .stat
            %h4 Today
            %span.value{:style => 'font-size: 2.3em;'}=Time.zone.today

          .stat
            %h4 Current Events
            %span.value=@current_account.events.count

          .stat
            %h4 Sales Today
            %span.value= number_to_currency @current_account.orders.purchased_today.inject(0){|memo, ord| memo + ord.total }

          .stat
            %h4 Sales All Time
            %span.value= number_to_currency @current_account.orders.inject(0){|memo, ord| memo + ord.total }



.row
  .span3
    .widget
      .widget-header
        %h3 Business Days
      .widget-content
        %span.badge=link_to 'Day', '#'
        %span.badge=link_to 'Wk', '#'
        %span.badge=link_to 'Mon', '#'
  
        %hr/
    
        - 1.upto(30).each do |i|
          -day = Time.zone.today - i
          =link_to "#{day} (#{@current_account.orders.purchased_on_date(day.to_s).count}, #{number_to_currency(@current_account.orders.purchased_on_date(day.to_s).total)})", "/manager/reports/sales_over_time?day=#{day}"
          %br/

  .span9
    .widget
      .widget-header
        %h3 By Show
      .widget-content
        .row
          .span3
            %span.badge=link_to 'On the Books', '/manager/reports?time=current'
            %span.badge=link_to 'Historical', '/manager/reports?time=historical'
        
        
          .span1
            %h4
              %i.icon-list-alt{:style => 'zoom: 200%'}
          
          .span4  
            %h4
              %i.icon-check{:style => 'zoom: 200%'}
      
    
        %hr/
  
        -@events.each do |event|
          -if event.tickets.complete.count > 0
            .row
              .span3
                %strong=event.title
                %br/
                =event.starts_at.to_formatted_s(:shorty)
                %br/
                %br/
              .span1
                %h1=event.tickets.complete.count
              .span1
                %h1=event.tickets.checked_in.count
              .span1
                -if event.tickets.complete.count > 0
                  %span.badge.badge-inverse=link_to 'Guestlist', "/manager/reports/event_guestlist/#{event.id}"
                -else
                  &nbsp;
              .span1
                -if event.tickets.complete.count > 0
                  %span.badge.badge-info=link_to 'Sales', "/manager/reports/event_sales/#{event.id}"
                -else
                  &nbsp;
              .span1
                %span.badge.badge-warning=link_to 'Edit', edit_event_path(event)
              .span1
                %span.badge.badge-success=link_to 'View', front_event_path(event)
 
        
          