.row
  .span12
    .widget.big-stats-container
      .widget-content
        #big_stats.cf
          .stat
            %h4 Today
            %span.value{:style => 'font-size: 2.3em;'}=Time.zone.today

          .stat
            %h4 Current Events
            %span.value=@current_account.events.count

          .stat
            %h4 Sales Today
            %span.value= number_to_currency( @current_account.orders.purchased_today.sum('total').to_s, :precision => 0)

          .stat
            %h4 Sales All Time
            %span.value= number_to_currency( @current_account.orders.sum('total').to_s, :precision => 0 )

.row
  .span3
    =render 'day_nav'

  .span6
    .widget
      .widget-header
        %h3 By Show
      .widget-content
        .row
          .span3
            %span.badge=link_to 'On the Books', '/manager/reports?time=current'
            %span.badge=link_to 'Historical', '/manager/reports?time=historical'
        
        
        %hr/
  
        -@events.each do |event|
          -if event.tickets.complete.count > 0
            .row
              .span3
                %strong=link_to event.title, "/manager/reports/event_sales/#{event.id}"
                =event.starts_at.to_formatted_s(:jammin_java_short)
                %br/
                %br/
                
              .span1
                ="#{event.tickets.checked_in.count} / #{event.tickets.complete.count}"
                %br/
                %span{:style => 'color: #ccc'}
                  ="#{(event.tickets.checked_in.count.to_f / event.tickets.complete.count.to_f * 100).to_i}%"

              .span1
                %span.badge.badge-warning=link_to 'Edit', edit_event_path(event)
                %span.badge.badge-success=link_to 'View', front_event_path(event)
 
  .span3
    .widget
      .widget-header
        %h3 Customers & Orders
      .widget-content
        =link_to "Most Valuable Customers »", '/manager/reports/most_valuable_customers'
        %hr/
        %ul.no-list-style
          %h4 Order Stream
          -@current_account.orders.complete.order('purchased_at DESC').limit(50).each do |order|
            %li
              -if order.user
                =link_to "#{order.first_name} #{order.last_name}", user_path(order.user_id)
              -elsif order.agent
                =link_to "#{order.agent.first_name} #{order.agent.last_name}", user_path(order.agent_id)
              ="#{order.tickets.count}x"
              for 
              =link_to "#{number_to_currency order.total}", order_path(order)
              %br/
              =distance_of_time_in_words_to_now(order.purchased_at) + ' ago'
              %br/
              %br/
          