!!!
%html
  %head
    %title Jammin' Java
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    =raw '<!-- current subdomain ' + @current_account.subdomain + '-->'
    =render 'front/shared/theme'
  
  
  %body
    #wrap
      .container
        .row
          #header.span16
    
            =render 'shared/header'
    

        .nav
          %ul 
            %li=link_to 'Calendar', '/page/calendar', :class => 'highlighted'
            %li=link_to 'Lobby Bar', '/page/lobby-bar'
            %li=link_to 'Kids Shows', '/page/kids-shows'
            %li=link_to 'Brindley Brothers Present', '/page/brindley-bros-present'
            
            %li=link_to 'Private Events', '/page/private-events'
            %li=link_to 'Food / Drink', '/page/food-drink'
            %li=link_to 'Music Lessons', 'http://themusicschoolonline.com/', :target => '_blank'
            %li=link_to 'Store', '/page/store'
            %li=link_to 'About', '/page/about', :class => 'highlighted'        
          
        // #modules
        /  .event_chart
        /  .event_cart
        /  .event_checkout
        .container
          -unless notice.blank?
            %p.alert= notice
            
          -unless alert.blank?          
            %p.alert= alert
            
        .container
          =yield :layout if content_for?(:layout)

              
              
    
    <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
    
    = javascript_include_tag "application"
    =yield :javascript if content_for?(:javascript)
    :javascript

      $(function(){
        Tix.init({
          env: "#{ENV['RAILS_ENV']}",
          order: #{ @current_order.blank? ? 'null' : render('front/orders/order', :object => @current_order, :format => :json)  }
        });
      });