!!!
%html
  %head
    
    %title
      -if content_for? :title
        =content_for :title 
        »
      Jammin' Java
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    =raw '<!-- current subdomain ' + @current_account.subdomain + '-->'
    :css
      [class^="icon-"],[class*=" icon-"] {
        background-image:url("../img/glyphicons-halflings.png")
      }
      .icon-white{background-image:url("../img/glyphicons-halflings-white.png");}
      
      
    =render 'front/shared/theme'
  
  
  %body
    #wrap
      .container
        .row
          #header.span12
            =render 'shared/header'
    
        .nav
          %ul 
            %li=link_to 'Calendar', '/calendar', :class => 'highlighted'
            %li=link_to 'Lobby Bar', '/lobby-bar'
            %li=link_to 'Kids Shows', '/kids-shows'
            %li=link_to 'Private Events', '/private-events'
            %li=link_to 'Food / Drink', '/food-drink'
            %li=link_to 'Music Lessons', 'http://themusicschoolonline.com/', :target => '_blank'
            %li=link_to 'Store', '/store'
            %li=link_to 'The Story', '/about', :class => 'highlighted'        
            %li=link_to 'Brindley Brothers Present', '/brindley-bros-present'

        -unless notice.blank?
          .container
            %p.alert= notice
          
        -unless alert.blank?          
          .container
            %p.alert= alert
          
        .container

          -if (content_for?(:layout) == true)
            =yield(:layout)

              
              
    
    <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
    
    = javascript_include_tag "application"
    =yield :javascript if content_for?(:javascript)
    :javascript

      $(function(){
        Tix.init();
      });
    
    =yield :javascript_after_init if content_for?(:javascript_after_init)