!!!
%html
  %head
    
    %title
      -if content_for? :title
        =content_for :title 
        »
      Jammin' Java
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    =raw '<!-- current subdomain ' + @current_account.subdomain + '-->'
    :css
      [class^="icon-"],[class*=" icon-"] {
        background-image:url("../img/glyphicons-halflings.png")
      }
      .icon-white{background-image:url("../img/glyphicons-halflings-white.png");}
      
      
    =render 'front/shared/theme'
  
  
  %body
    #wrap
      .container
        .row
          #header.span12
    
            =render 'shared/header'
    

        .nav
          %ul 
            %li=link_to 'Calendar', '/page/calendar', :class => 'highlighted'
            %li=link_to 'Lobby Bar', '/page/lobby-bar'
            %li=link_to 'Kids Shows', '/page/kids-shows'
            %li=link_to 'Private Events', '/page/private-events'
            %li=link_to 'Food / Drink', '/page/food-drink'
            %li=link_to 'Music Lessons', 'http://themusicschoolonline.com/', :target => '_blank'
            %li=link_to 'Store', '/page/store'
            %li=link_to 'The Story', '/page/about', :class => 'highlighted'        
            %li=link_to 'Brindley Brothers Present', '/page/brindley-bros-present'
          
        // #modules
        /  .event_chart
        /  .event_cart
        /  .event_checkout
        .container
          -unless notice.blank?
            %p.alert= notice
            
          -unless alert.blank?          
            %p.alert= alert
            
        .container
          =yield :layout if content_for?(:layout)

              
              
    
    <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
    
    = javascript_include_tag "application"
    =yield :javascript if content_for?(:javascript)
    :javascript

      $(function(){
        Tix.init();
      });