!!!
%html
  %head
    %title Tix
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    -unless ENV['RAILS_ENV'] == 'production'
      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
      
  %body
    .container
      #header.columns.sixteen
    
        #logo.columns.nine.alpha
          
        #social_links.columns.six.omega
          Twitter   |   Facebook   |   FAQ   |   Contact    |   Directions  
          <br/>
          <br/>
          <br/>
          
          .small 227 Maple Ave E Vienna, VA 22180   |   <a href='#'>thebros@jamminjava.com</a>
  
      -# BACKBONE
      #mid.columns.sixteen
      
        .columns.four.alpha#sidenav
          %ul
            %li{:href => "http://jamminjava.com/home/events/list"} Calendar
            %li{:href => "http://jamminjava.com/home/lobbybar"} The Lobby Bar
            %li{:href => "http://jamminjava.com/home/kids-events/list"} Kids Shows
            %li{:href => "http://jamminjava.com/home/main/private-events"} Private Events
            %li{:href => "http://jamminjava.com/home/main/cafe"} Food/Drink
            %li{:href => "http://themusicschoolonline.com", :target => "_blank"} Music Lessons
            %li{:href => "http://jamminjava.com/home/main/store"} Store
            %li{:href => "http://jamminjava.com/home/main/about"} About
            %li{:href => "http://thewhiskeyannapolis.com"} The Whiskey
            / <a href="http://jamminjava.com/home/main/sponsorship">Sponsorship</a>
          %br/
          %form#exampleForm{"accept-charset" => "UTF-8", :action => "http://app.icontact.com/icp/signup.php", :method => "post", :name => "exampleForm", :onsubmit => "return verifyRequired();"}/
          
        -# BACKBONE
        .columns.twelve.alpha
          #events_list
            
      .clear
      .row
        #event_detail
        
  
    = yield
    
    <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
    
    = javascript_include_tag "application"
    :javascript
      $(function(){
        Tix.init( {events: #{ render('events/events', :object => @events, :format => :json) }, pusherAPIKey: "#{Pusher.key}"}  );
      });