!!!
%html
  %head
    %title Tix
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    -unless ENV['RAILS_ENV'] == 'production'
      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
      
  %body
    .container
      #header.columns.sixteen
    
        #logo.columns.nine.alpha
          
        #social_links.columns.six.omega
          %p.align.right
            Twitter   |   Facebook   |   FAQ   |   Contact    |   Directions  
            <br/>
            <br/>
            <br/>
          
          .small 227 Maple Ave E Vienna, VA 22180   |   <a href='#'>thebros@jamminjava.com</a>
  
  
          
    .container
      #modules
        .event_chart
        .event_cart
        .event_checkout
        
        -# .events_list.g16.col
        -#   
        -# .event_details.g16.col
        -# 
        -# .event_tickets
        -#   .event_chart.g7.col{:style => 'height: 500px'}
        -#     #wrap 
        -#       #canvas
        -#   
        -#   .event_cart.g4.col
        -#     
        -#   .events_list.g5.col
        
    
  
    = yield
    
    <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
    
    = javascript_include_tag "application"
    :javascript
      $(function(){
        Tix.init( {
          events: #{ render('events/events', :object => @events, :format => :json) },
          pusherAPIKey: "#{Pusher.key}",
          env: "#{ENV['RAILS_ENV']}"}  );
      });