!!!
%html
  %head
    %title Jammin' Java
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    -unless ENV['RAILS_ENV'] == 'production'
      //<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <script type="text/javascript" src="//use.typekit.net/lmc2sec.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    =raw '<!-- current subdomain ' + @current_account.subdomain + '-->'
    -unless @current_account.themes.active_theme.nil?
      -if @current_account.themes.active_theme.background_image?
        :css
          body {
            background: url(#{@current_account.themes.active_theme.background_image(:original)}) top center no-repeat;
          }
      
      :css
      
        #{@current_account.themes.active_theme.css_doc.html_safe}
  
  
  %body
    #wrap
      .container
        .row
          #header.span16
    
            =render 'shared/header'
    

        .nav
          %ul 
            %li=link_to 'Calendar', '/page/calendar', :class => 'highlighted'
            %li=link_to 'Lobby Bar', '/page/lobby-bar'
            %li=link_to 'Kids Shows', '/page/kids-shows'
            %li=link_to 'Private Events', '/page/private-events'
            %li=link_to 'Food / Drink', '/page/food-drink'
            %li=link_to 'Music Lessons', 'http://themusicschoolonline.com/', :target => '_blank'
            %li=link_to 'Store', '/page/store'
            %li=link_to 'About', '/page/about', :class => 'highlighted'        
            %li=link_to 'Brindley Brothers Present', '/page/contact'
          
        // #modules
        /  .event_chart
        /  .event_cart
        /  .event_checkout
        .container
          -unless notice.blank?
            %p.alert= notice
            
          -unless alert.blank?          
            %p.alert= alert
            
        .container
          =yield :layout if content_for?(:layout)

              
              
    
    <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
    
    = javascript_include_tag "application"
    =yield :javascript if content_for?(:javascript)
    :javascript
      //$(function(){
        //Tix.init( {
          // events: #\{render('events/events', :object => @events, :format => :json) \},
          // pusherAPIKey: "#{Pusher.key}",
          //env: "#{ENV['RAILS_ENV']}"}  );
      //});