!!!
%html
  %head
    %title Jammin' Java
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    -unless ENV['RAILS_ENV'] == 'production'
      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <script type="text/javascript" src="//use.typekit.net/lmc2sec.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    =raw '<!-- current subdomain: ' + @current_account.subdomain + '-->'
    
  %body
    .container
      #header.columns.sixteen
        =render 'shared/header'
  
      .row
        .span12
          .row
            .span6.offset3
              -unless notice.blank?
                %p.notice= notice
              -unless alert.blank?
                %p.alert= alert
            .span6.offset3
              %div{:style => 'padding-top: 40px; background-color: black; padding: 40px; color: white; '}
                = yield
